<form class="contenedore">
    <mat-form-field>
      <mat-label>numero 1</mat-label>
      <input [(ngModel)]="num1"name="asd" type="number" matInput placeholder="123..." value="">
    </mat-form-field>
    <mat-form-field>
      <mat-label>numero 2</mat-label>
      <input [(ngModel)]="num2" name="asd" type="number" matInput placeholder="123..." value="">
    </mat-form-field>
</form>
<section class="operaciones">
    <mat-slide-toggle [(ngModel)]="suma" class="m-2">suma</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="resta" class="m-2">resta</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="multi" class="m-2">multiplicacion</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="divi" class="m-2">division</mat-slide-toggle>
</section>
<button mat-raised-button color="primary" class="m-2" (click)="operacion()">Calcular</button>
<p class="text-light m-3">{{resultado}}</p>
<p class="text-light m-3">{{resultado_res}}</p>
<p class="text-light m-3">{{resultado_mul}}</p>
<p class="text-light m-3">{{resultado_divi}}</p>